<div class="container contact">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <div class="contact-form">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="fname">Nombre de Usuario:</label>
                    <div class="col-sm-10">
                        <input type="text" [(ngModel)]="m.usua_nom" class="form-control" id="fname" placeholder="Nombre del usuario" name="nom">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="lname">Apellido:</label>
                    <div class="col-sm-10">
                        <input type="text" [(ngModel)]="m.usua_ape" class="form-control" id="lname" placeholder="Apellido del usuario" name="ape">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Teléfono:</label>
                    <div class="col-sm-10">
                        <input type="number" [(ngModel)]="m.usua_tel" class="form-control" id="email" placeholder="Teléfono del usuario" name="tel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Documento:</label>
                    <div class="col-sm-10">
                        <input type="number" [(ngModel)]="m.usua_doc" class="form-control" id="email" placeholder="Documento del usuario" name="doc">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" [(ngModel)]="m.usua_email" class="form-control" id="email" placeholder="Email del usuario" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Contraseña:</label>
                    <div class="col-sm-10">
                        <input type="password" [(ngModel)]="m.usua_contr" class="form-control" id="email" placeholder="Contraseña del usuario" name="contr">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" (click)="guardar()" class="btn btn-default" style="background-color:deepskyblue">Registrarce</button>
                        <button type="submit" (click)="goIniciarsecion()" class="btn btn-default" style="background-color: #4cdd39;">Inicie Sesión</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>