<br>
<h1>Nueva Adopción</h1>
<p>Mascota:</p>
<input type="text" [(ngModel)]="m.adop_mas_id.mas_nom" placeholder="Nombre de la mascota" class="form-control">
<hr>
<p>Raza:</p>
<input type="text" [(ngModel)]="m.adop_mas_id.mas_raz" placeholder="Raza de la mascota" class="form-control">
<hr>
<p>Edad:</p>
<input type="number" [(ngModel)]="m.adop_mas_id.mas_ed" placeholder="Edad de la mascota" class="form-control">
<hr>
<p>Nombre:</p>
<input type="text" [(ngModel)]="m.adop_usua_id.usua_nom" placeholder="Nombre del usuario" class="form-control">
<hr>
<p>Apellido:</p>
<input type="text" [(ngModel)]="m.adop_usua_id.usua_ape" placeholder="Apellido del usuario" class="form-control">
<hr>
<p>Teléfono:</p>
<input type="number" [(ngModel)]="m.adop_usua_id.usua_tel" placeholder="Teléfono del usuario" class="form-control">
<hr>
<p>Documento:</p>
<input type="number" [(ngModel)]="m.adop_usua_id.usua_doc" placeholder="Documento del usuario" class="form-control">
<hr>
<p>Email:</p>
<input type="email" [(ngModel)]="m.adop_usua_id.usua_email" placeholder="Email del usuario" class="form-control">
<hr>
<p>Contraseña:</p>
<input type="password" [(ngModel)]="m.adop_usua_id.usua_tel" placeholder="Contraseña del usuario" class="form-control">
<hr>
<button (click)="guardar()" class="btn btn-success">Guardar</button>