<br>
<h1>Actualizar venta</h1>
<hr>
<p>Producto:</p>
<input type="text" [(ngModel)]="m.ven_pro_id.pro_nom" placeholder="Nombre del producto" class="form-control">
<hr>
<p>Color:</p>
<input type="text" [(ngModel)]="m.ven_pro_id.pro_col" placeholder="Color del producto" class="form-control">
<hr>
<p>Precio:</p>
<input type="text" [(ngModel)]="m.ven_pro_id.pro_pre" placeholder="Precio del producto" class="form-control">
<hr>
<p>Nombre:</p>
<input type="text" [(ngModel)]="m.ven_usua_id.usua_nom" placeholder="Nombre del usuario" class="form-control">
<hr>
<p>Apellido:</p>
<input type="text" [(ngModel)]="m.ven_usua_id.usua_ape" placeholder="Apellido del usuario" class="form-control">
<hr>
<p>Teléfono:</p>
<input type="text" [(ngModel)]="m.ven_usua_id.usua_tel" placeholder="Teléfono del usuario" class="form-control">
<hr>
<p>Documento:</p>
<input type="text" [(ngModel)]="m.ven_usua_id.usua_doc" placeholder="Documento del usuario" class="form-control">
<hr>
<p>Email:</p>
<input type="email" [(ngModel)]="m.ven_usua_id.usua_email" placeholder="Email del usuario" class="form-control">
<hr>
<p>Contraseña:</p>
<input type="password" [(ngModel)]="m.ven_usua_id.usua_tel" placeholder="Contraseña del usuario" class="form-control">
<hr>
<button (click)="actualizar()" class="btn btn-success">Actualizar</button>
<button (click)="Cancelar()" class="btn btn-danger">Cancelar</button>