<div class="container">
<div class="row">
    <div class="col-sm-4"></div>
    <div class="text-center">
        <h3>Misión</h3>
        <br>
        <p style="text-align: justify;">Ayudamos a establecer un mejor mundo para los animales, brindándoles amor y
            protección. Contando con un excelente grupo de trabajo que se enfoca en esos animales sin hogar y que
            necesitan ser adoptados, brindando la protección que estos animales necesitan, cuidándolos mientras
            encuentran un buen hogar.</p>
    </div>
    <div class="col-sm-4"></div>
    <div class="text-center">
        <h3>Visión</h3>
        <br>
        <p style="text-align: justify;">Ser una compañía óptima, líder en la ciudad y de gran ejemplo que inciten a la
            adopción de los animales sin hogar. Liderada por un equipo con acceso a la más alta calidad de capacitación
            y con una mirada colaborativa e inclusiva.</p>
    </div>
    <div class="col-sm-4"></div>
    <div class="text-center">
        <h3>Nosotros</h3>
        <br>
        <p style="text-align: justify;">Somos una compañía que se enfoca en la búsqueda de animales sin hogar, para
            curarlos, alimentarlos y buscarles un hogar apropiado para ellos.</p>
    </div>
    <div class="col-sm-4"></div>
</div>
</div>