<nav class="navbar navbar-expand-sm bg-success navbar-dark sticky-top" >
  <a class="navbar-brand" [routerLink]="['/menu/inicio']">
    <img src="./assets/logopetshouse.png" alt="logo" style="width:130px">
  </a>

  <!--Links></Links-->
  <ul class="navbar-nav  ml-auto ">
    <li class="nav-item">
      <b><a class="nav-link" [routerLink]="['/menu/inicio']">INICIO</a></b>
    </li>

    <li class="nav-item">
      <b> <a class="nav-link" [routerLink]="['/menu/mascota']">MASCOTAS</a></b>
    </li>
    <li class="nav-item">
      <b><a class="nav-link" [routerLink]="['/menu/producto']">PRODUCTOS</a></b>
    </li>

    <li class="nav-item">
      <b><a class="nav-link" href="#">MI CARRITO</a></b>
    </li>
    <li class="nav-item">
      <b><a class="nav-link" [routerLink]="['/administrdor']">ADMINISTRADOR</a></b>
    </li>
  </ul>



</nav>
<hr>

<router-outlet></router-outlet>